html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 80%;margin-left:20px;margin-right:20px}
#coords { background-color: black; color: white; padding-left: 5px; }
#key { background: url("images/key.png"); height: 140px; width: 155px; margin:5px;}
#page-header {display:none}
/*#page-mod-scorm-player {overflow:hidden !important}*/